
{% extends '@!SyliusAdmin/layout.html.twig' %}
{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <div class="ui header">
                <i class="circular boxes icon"></i>
                <div class="content">
                    {{ 'nextstore_sylius_parcel.ui.parcel_item'|trans }}
                    <div class="sub header">{{ 'nextstore_sylius_parcel.ui.manage_parcel_items'|trans }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui stackable four column grid">
        <div class="column">
            <label>{{ 'sylius.ui.total'|trans }}:</label>
            <strong>{{ parcels.nbResults }}</strong>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            <i class="filter icon"></i>
            {{ 'sylius.ui.filters' |trans }}
        </div>
        <div class="content">
            {{ form_start(form, {'action': path('nextstore_sylius_parcel_admin_manage_parcel_items'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            <div class="sylius-filters">
                <div class="sylius-filters__field">
                    <div class="field">
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <div class="sylius-filters__field">
                    <div class="sylius-filters__group">
                        <div class="field">
                            {{ form_row(form.startDate) }}
                        </div>
                        <div class="field">
                            {{ form_row(form.endDate) }}
                        </div>
                    </div>
                </div>
                <div class="sylius-filters__field">
                    <div class="field">
                        {{ form_row(form.state) }}
                    </div>
                </div>
                <div class="sylius-filters__field">
                    <div class="field">
                        {{ form_row(form.orderNumber) }}
                    </div>
                </div>
                <div class="sylius-filters__field">
                    <div class="field">
                        {{ form_row(form.trackingCode) }}
                    </div>
                </div>
                <div class="sylius-filters__field">
                    <div class="field">
                        {{ form_row(form.parcelCode) }}
                    </div>
                </div>
                <div class="sylius-filters__field">

                    <div class="field">
                        {{ form_row(form.orderBy) }}
                    </div>
                </div>
            </div>
            <button class="ui blue labeled icon button" type="submit">
                <i class="icon search"></i>
                {{ 'sylius.ui.filter' |trans }}
            </button>

            <a class="ui labeled icon button" href="{{ path('nextstore_sylius_parcel_admin_manage_parcel_items') }}">
                <i class="icon remove"></i>
                {{ 'sylius.ui.clear_filters' | trans }}
            </a>

            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
    <div class='ui' style="margin: 10px 0px; float: left">
        <a
            class="ui button green"
            href={{path('nextstore_sylius_parcel_admin_export_parcel_to_excel', {
                phone: form.phone.vars.value,
                state: form.state.vars.value,
                startDate: form.startDate.vars.value,
                endDate: form.endDate.vars.value,
                orderBy: form.orderBy.vars.value,
                orderNumber: form.orderNumber.vars.value,
                trackingCode: form.trackingCode.vars.value,
                parcelCode: form.parcelCode.vars.value,
            })}}>
            <i class="icon download"></i>
            {{'nextstore_sylius_parcel.ui.download_excel'|trans}}
        </a>
    </div>
    <div class="ui" style="margin:10px 0px; float: right">
        <form
            method="post"
            enctype="multipart/form-data"
            action="{{ path('alphlabs_sylius_parcel_admin_update_parcel_state_from_excel') }}"
            name="upload_excel_to_update_state"
            id="upload_excel_to_update_state"
        >
            <div class="ui action input">
                <input
                    name="excel-file"
                    id="fileSelect"
                    type="file"
                    required
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    class="ui input focus"
                />
                <button class="ui blue right labeled icon button">
                    <i class="upload icon"></i>
                    {{ 'nextstore_sylius_parcel.ui.upload_excel'|trans }}
                </button>
            </div>
        </form>
    </div>
    {% for parcel in parcels %}
    <div class="ui blue segment" style="overflow-x: auto !important; padding: 2px !important ">
        <table class="ui celled compact small table order-summary-table" style="min-width: 1300px">
            <thead>
                <tr>
                    <th>{{ 'sylius.ui.customer'|trans }}</th>
                    <th class="five wide sylius-table-column-item">{{ 'sylius.ui.order_item_product'|trans }}</th>
                    <th>{{ 'nextstore_sylius_parcel.ui.tracking_code'|trans }}</th>
                    <th class="center aligned">{{ 'sylius.ui.width' |trans }}</th>
                    <th class="center aligned">{{ 'nextstore_sylius_parcel.ui.length' |trans }}</th>
                    <th class="center aligned">{{ 'sylius.ui.height' |trans }}</th>
                    <th class="center aligned">{{ 'sylius.ui.weight' |trans }}</th>
                    <th class="center aligned sylius-table-column-total">{{ 'nextstore_sylius_parcel.ui.parcel_item_total'|trans }}</th>
                    <th class="center aligned sylius-table-column-total">{{ 'sylius.ui.total'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="{{ parcel.items|length + 1 }}" style="border-right: 1px solid #dddddd">
                    <strong style="display: flex; justify-content: space-between; border-bottom: 1px solid #dddddd">
                        <span>{{ 'sylius.ui.phone_number'|trans }}:</span>
                        <span>{{ parcel.customer.phoneNumber }}</span>
                    </strong>
                    <strong style="display: flex; justify-content: space-between; border-bottom: 1px solid #dddddd">
                        <span>{{ 'sylius.ui.email'|trans }}:</span>
                        <span>{{ parcel.customer.email }}</span>
                    </strong>
                    <strong style="display: flex; justify-content: space-between;  border-bottom: 1px solid #dddddd">
                        <span>{{ 'sylius.ui.name'|trans }}:</span>
                        <span>{{ parcel.customer.fullName }}</span>
                    </strong>
                    <div class="ui fluid accordion">
                        <div class="title">
                            <strong>{{ 'sylius.ui.address'|trans }}</strong>
                            <i class="dropdown icon"></i>
                        </div>
                        <div class="content">
                            <div class="transition hidden" style="width: 100%">
                                <div>
                                    {{ 'sylius.ui.country'|trans }}:
                                    <strong>{{ parcel.address.countryCode }}</strong>
                                </div>
                                <div>
                                    {{ 'sylius.ui.city'|trans }}:
                                    <strong>{{ parcel.address.city }}</strong>
                                </div>
                                <div>
                                    {{ 'sylius.ui.province'|trans }}:
                                    <strong>{{ parcel.address.provinceName }}</strong>
                                </div>
                                <div>
                                    {{ 'sylius.ui.street'|trans }}:
                                    <strong>{{ parcel.address.street }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% for p_item in parcel.items %}
                <tr id="{{ p_item.id }}">
                    {% set item = p_item.orderItem %}
                    <td rowspan="1">
                        {% set product = item.variant.product %}
                        {% set variant = item.variant %}
                        <a href="{{ path('sylius_admin_order_show', {'id': item.order.id}) }}" style="display: block">
                        {% include '@SyliusAdmin/Product/_info.html.twig' %}
                        </a>
                    </td>
                    <td rowspan="1">
                        {{ p_item.trackingCode }}
                    </td>
                    <td rowspan="1">
                        {{ p_item.width }} cm
                    </td>
                    <td rowspan="1">
                        {{ p_item.length }} cm
                    </td>
                    <td rowspan="1">
                        {{ p_item.height }} cm
                    </td>
                    <td rowspan="1">
                        {{ p_item.weight }} kg
                    </td>
                    <td rowspan="1">
                        {{ money.format(p_item.total, parcel.currencyCode) }}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>
                    <div style="display: flex; justify-content: space-between">
                        <strong>{{ 'sylius.ui.date'|trans }}:</strong>
                        <strong>
                            {{ parcel.updatedAt|format_datetime('short') }}
                        </strong>
                    </div>
                </th>
                <th style="display: flex; justify-content: space-between">
                    <div>
                        <strong>{{ 'nextstore_sylius_parcel.ui.parcel_state'|trans }}: </strong>
                        {% include '@NextstoreSyliusParcelPlugin/Admin/Parcel/Show/_parcel_states.html.twig' %}
                    </div>
                    <div>
                        <strong>{{ 'sylius.ui.payment'|trans }}: </strong>
                        {% if parcel.lastPayment %}
                            {% include '@SyliusAdmin/Common/Label/paymentState.html.twig' with {'data': parcel.lastPayment.state} %}
                        {% else %}
                            NaN
                        {% endif %}
                    </div>
                </th>
                <th>
                    <div style="display: flex; justify-content: space-between">
                        <strong>{{ 'nextstore_sylius_parcel.ui.parcel_code'|trans }}: </strong>
                        <strong>{{ parcel.code }}</strong>
                    </div>
                </th>
                <th>
                    {{ parcel.width }} cm
                </th>
                <th>
                    {{ parcel.length }} cm
                </th>
                <th>
                    {{ parcel.height }} cm
                </th>
                <th>
                    {{ parcel.weight }} kg
                </th>
                <th> {{ money.format(parcel.itemsTotal, parcel.currencyCode) }}</th>
                <th>
                    <strong>{{ money.format(parcel.total, parcel.currencyCode) }}</strong>
                </th>

            </tr>
            </tfoot>
        </table>
    </div>
    {% endfor %}
    {{ pagerfanta(parcels) }}
{% endblock %}
